body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  // Fix for scrolling i H5P iframe
  overflow-y: scroll;
  height: 100vh !important;
}

@import '~@ndla/core/scss/core';
@import '~@ndla/icons/scss/icons';
@import '~ndla-ui/src/main';
@import '~@ndla/tabs/scss/tabs';
@import '~@ndla/core/scss/utilities';
